[Desktop Entry]
Version=1.0
Name=Helwan AI Gate
Comment=بوابتك الذكية إلى عقول الذكاء الاصطناعي
Exec=helwan-ai-gate
Icon=helwan-ai-gate
Terminal=false
Type=Application
Categories=Utility;AI;

